<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="4.4.0" targetFramework="net472" />
  <package id="IronPdf" version="4.4.9" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net472" />
  <package id="Pdf.Ocr" version="4.4.4.1" targetFramework="net472" />
  <package id="sautinsoft.pdffocus" version="6.9.7.6" targetFramework="net472" />
</packages>